{% autoescape off %}
Hallo,

Je ontvangt deze e-mail omdat je een wachtwoord reset hebt aangevraagd voor je account bij GedichtGPT.

Klik op de onderstaande link om je wachtwoord te resetten:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Als je deze aanvraag niet hebt gedaan, kun je deze e-mail negeren. Je wachtwoord blijft ongewijzigd.

Deze link is 24 uur geldig.

Met vriendelijke groet,
Het GedichtGPT Team

---
GedichtGPT - AI Gedichten Generator
https://gedichtgpt.nl
{% endautoescape %}
